* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  max-width: 1280px;
  height : auto;
  padding: 10px;
  margin: 0 auto;
}

main {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enter-value {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#carta-texto {
  width: 60%;
}

#carta-gerada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

#carta-gerada span {
  margin: 5px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman;
  font-weight: 700;
}
